* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 35px 0;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.title {
    color: grey;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 5px 0;
}

input[type="text"] {
    font-size: 18px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: solid 2px grey;
    padding: .3% 2%;
    color: grey;
}

#runButton {
    padding: 1% 3%;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    margin: 30px 0;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    background-color: grey;
    font-size: 16px;
}

#runButton:hover {
    background-color: lightgrey;
}

.result {
    width: 100%;
    display: flex;
    position: relative;
}

#code {
    padding: 3%;
    min-height: 100%;
    background-color: #FEFFDC;
}


.wrapper {
    width: 50%;
    height: 400px;
    overflow-y: scroll;
    border: solid 1px black;
}

#sentences {
    background-color: black;
    color: white;
    padding: 3%;
    width: 100%;
    min-height: 100%;
}

#terminal {
    width: 100%;
}

#message {
    color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.resetField {
    display: inline-block;
    color: red !important;
    font-size: 12px;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 5px;
    font-weight: lighter;
    border: solid 1px red;
    border-radius: 5px;
    padding: 0 1% 0 2.5%;
    cursor: pointer;
    height: 30px;
    line-height: 28px;
}

.resetField img {
    height: 18px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

